asgiref==3.7.2
certifi==2024.2.2
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
Django==5.0.2
django-environ==0.11.2
djangorestframework==3.14.0
gunicorn==21.2.0
h11==0.14.0
idna==3.6
packaging==23.2
pytz==2024.1
requests==2.31.0
sqlparse==0.4.4
tzdata==2024.1
urllib3==2.2.1
uvicorn==0.27.1
waitress==3.0.0
whitenoise==6.6.0
